ul{
    list-style: none;
}body{background-color: rgba(245, 245, 141, 0.751);}
h1{color: rgb(5, 4, 4);}
h3{color: rgb(9, 116, 116);}
p{color: rgba(19, 105, 105, 0.959);}
h5{color: rgba(33, 27, 27, 0.692);}
b{color: black;}
h1{background-color: #f8bf45;}